<div class="wrapper-forms">
<h2 style="text-align: center;">Design Your Event!</h2>
  <div class="flex-container">
    <div class="row">
      <div class="text-center">
        <div class="form-group">
          <div class="forms-flex-body">
            <%= simple_form_for @event, url: wizard_path, method: :put do |f| %>
              <div class="form-space">
              <%= f.input :title, label: 'Title', input_html: { class: 'form-control' } %>
              </div>
              <div class="form-space">
              <%= f.input :address, label: 'Location', input_html: { class: 'form-control' } %>
              </div>
              <div class="form-space">
              <%= f.input :description, label: 'Description', input_html: { class: 'form-control' } %>
              </div>
               <div class="form-space">
              <%= f.input :date, html5: true, label: 'Date', input_html: { class: 'form-control' } %>
              </div>
              <div class="form-space">
              <%= f.submit "Continue" %>
            <% end %>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
