<div class="container show">
  <div class="title-bold-big small-margin">
    <%= @event.title %>
  </div>

  <% if @attendees.empty? %>
  <br>
    <p class="message-empty-attendees">So far nobody has applied to your events...</p>
    <p class="center-p">  <%= image_tag('icons/group.svg', size: "200x200") %> </p>
  <% else %>
  <h3 class="title-attendees">The following people are interested in your events!</h3>
    <% @attendees.each do |attendee| %>
  <div class="card-attendees">
    <div class="row attendees">
      <h1><%= link_to attendee.user.first_name + " " + attendee.user.last_name, event_attendee_path(@event, attendee) %></h1>
    </div>
    <div class="row attendees">
      <% if attendee.status == 'accepted' %>
        <p class='status-approve'><%= attendee.status %></p>
      <% elsif attendee.status == 'declined'%>
        <p class='status-decline'><%= attendee.status %></p>
      <% else %>
        <p class='btn-pending'><%= attendee.status %></p>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
<% end %>
