<div class="container show">
  <div class="title-bold-big small-margin">
    <%= @event.title %>
  </div>
  <% if @attendees.empty? %>
  <br>
    <p class="message-empty-attendees">So far nobody has applied to your events...</p>
    <p class="center-p">  <%= image_tag('icons/group.svg', size: "200x200") %> </p>
  <% else %>
  <h3 class="title-attendees">The following people are interested in your events!</h3>
    <% @attendees.each do |attendee| %>
    <%= link_to event_attendee_path(@event, attendee) do %>
        <div class="card-dashboard <%= attendee.status %> attendees-managing">
          <%= image_tag avatar_url(attendee.user), class: 'card-avatar-show' %>
          <h2 class="small-text"><%= "#{attendee.user.first_name} #{attendee.user.last_name}, #{((Time.zone.now - attendee.user.birth_date.to_time) / 1.year.seconds).floor}" %></h2>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
<% end %>
