<div class="container show">
  <div class="title-attendee-name">
    <%= @attendee.user.first_name + " " + @attendee.user.last_name %>
  </div>
  <div class="row attendee-center">
    <%= image_tag avatar_url(@attendee.user), class: 'attendee-avatar' %>
  </div>
  <h3 class="title-attendees">About</h3>
  <p class="description"><%= @attendee.user.description %></p>
  <h3 class="title-attendees">Event Interests</h3>
  <div class="row attendee-hobbies">
    <% unless @attendee.user.activities.empty?  %>
      <% @attendee.user.user_activities do |activity|  %>
        <p class="btn-test"><%= @attendee.user.user_activities.activity.name %></p>
      <% end %>
    <% end %>
  </div>
  <% if @attendee.status == 'pending' %>
    <div class="inline-button">
      <%= link_to "Accept", event_attendee_path(@event, @attendee, query: "Accept"), method: :patch, class: 'btn-approve' %>
      <%= link_to "Decline", event_attendee_path(@event, @attendee, query:"Decline"), method: :patch, class: 'btn-decline' %>
    </div>
  <% elsif @attendee.status == 'accepted' %>
    <div class="inline-button">
      <div class='btn-approve defined-status'><%= @attendee.status.capitalize %></div>
      <%= link_to "Decline", event_attendee_path(@event, @attendee, query:"Decline"), method: :patch, class: 'btn-decline' %>
    </div>
  <% else %>
    <div class="inline-button">
      <%= link_to "Accept", event_attendee_path(@event, @attendee, query: "Accept"), method: :patch, class: 'btn-approve' %>
      <div class="btn-decline defined-status"><%= @attendee.status.capitalize %></div>
    </div>
  <% end %>
</div>


