<div class="container show">
  <div class="title-bold-big small-margin">
    <%= @attendee.user.first_name + " " + @attendee.user.last_name %>
  </div>
  <div class="row attendee-center">
    <%= image_tag avatar_url(@attendee.user), class: 'attendee-avatar' %>
  </div>
  <h3 class="title-attendees">About</h3>
  <p><%= @attendee.user.description %></p>
  <h3 class="title-attendees">Event Interests</h3>
  <div class="row attendee-hobbies">
    <% unless @attendee.user.activities.empty?  %>
      <% @attendee.user.user_activities do |activity|  %>
        <p class="btn-test"><%= @attendee.user.user_activities.activity.name %></p>
      <% end %>
    <% end %>
  </div>
<% if @attendee.status == 'pending' %>
    <div class="inline-button">
    <p><%= link_to "Accept", event_attendee_path(@event, @attendee, query: "Accept"), method: :patch, class: 'btn-approve' %></p>
    <p><%= link_to "Decline", event_attendee_path(@event, @attendee, query:"Decline"), method: :patch, class: 'btn-decline' %></p>
    </div>
    <% else %>
      <% if @attendee.status == 'accepted' %>
        <p class='btn-approve'><%= @attendee.status %></p>
        <%= link_to event_attendee_path(@event, @attendee, query:"Decline"), method: :patch do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      <% else %>
        <p class='btn-decline'><%= @attendee.status %></p>
      <% end %>
<% end %>
</div>


