<h1>Events#checkout</h1>
<p>Find me in app/views/events/checkout.html.erb</p>

<div class="container">
<div class="LOGO">
</div>
</div>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <title>Display a map</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
  <style>
    body { margin:0; padding:0; }
    #map { position:absolute; top:0; bottom:0; width:100%; }
  </style>
</head>
<body>

<div id='map'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiZGFuMjgxMCIsImEiOiJjanJzeXBqcG4wb2NqM3ltc3FudWczdDQyIn0.VRDtFNENuuQGoqO270fB0Q';
const map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/dan2810/cjsueeyvu07g31fuadjgv9kyy',
  center: [34.775678, 32.074152],
  zoom: 13.5
});
</script>

</body>
</html>

<div class="container">
  <% @events.each do |event| %>
    <div class="event-title">
      <%= event.title %>
 <%= link_to event_path(event), method: :delete , class: "fas fa-trash"  %>

    </div>
  <% end %>

  <div class="event-title">
    <%= event.title %> <%= link_to "Delete this event", event_path(event), method: :delete , class: "fas fa-trash"  %>
  </div>



  <div class="event-title">
    <%= event.title %> <%= link_to event(event), method: :delete , class: "fas fa-trash"  %>
  </div>
</div>
<button> Add More Events </button>
<button> Add  </button>
