<div class="container container-map">
      <div class="row">
      <div class="col-xs-12">
        <div class="map-container">
          <div
            id="map"
            style="width: 100%;
            height: 325px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
      </div>
    </div>
</div>
  <div class="container">
    <div class="filler"></div>
    <div class="row">

    <% if @events.empty? %>
      <h3 class="small-margin h3-choose" style="text-align: center;">Unfortunately no events found!</h3>
      <% else %>
      <% @events.each do |event| %>
        <div class="card-events-show">
          <%= link_to event_path(event) do %>
            <div class="card-center">
                <div class="card">
                  <p class="event-title"><%= event.title %></p>
                  <p class="event-details"> <%= event.address %></p>
                </div>
          <% end %>
            </div>
            <div class="activity-date">
              <p class="event-details"><%= event.activity.name.upcase %></p>
              <p class="event-details"><%= event.date.strftime('%d-%b-%Y') %></p>
            </div>
            <% if event.host == current_user %>
              <div class="status-host">I'm the Host</div>
            <% elsif event.attendees.any? && event.attendee(current_user).try(:pending?) || event.attendee(current_user).try(:declined?) || event.attendee(current_user).try(:accepted?) %>
                <div class="status <%= event.attendee(current_user).status %>"><%= event.attendee(current_user).status.capitalize %></div>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>
   <% end %>
