<div class="container container-map">
      <div class="row">
      <div class="col-xs-12">
        <div class="map-container">
          <div
            id="map"
            style="width: 100%;
            height: 325px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
      </div>
    </div>
</div>
  <div class="container">
    <div class="filler"></div>
    <div class="row">
      <% @events.each do |event| %>
        <div class="card-events-show card-event-show1">
          <%= link_to event_path(event) do %>
            <div class="card-center">
                <div class="card">
                  <p class="event-title"><%= event.title %></p>
                  <p class="event-details"> <%= event.address %></p>
                </div>
          <% end %>
            </div>
            <div class="activity-date">
              <p class="event-details"><%= event.activity.name.upcase %></p>
              <p class="event-details"><%= event.date %></p>
            </div>
        </div>
      <% end %>
    </div>
  </div>
