<div class="container show">
  <div class="title-bold-big small-margin">
    <%= @event.title %>
  </div>

  <div class="row">
    <div class="col-xs-12 card-center">
      <div class="card-event-show1">
        <p class="left-p">Location</p>
        <div class="card">
          <p class="center-p"><%= @event.address %></p>
        </div>
      </div>
    </div>
    <br>
    <div class="col-xs-12 card-center small-margin">
      <div class="card-event-show1">
        <div class="card-user-pic">
          <img src="..." class="pic">
          <h2 class="center-p small-text"><%= @event.host.first_name %></h2>
        </div>
      </div>
    </div>
    <br>
    <div class="col-xs-12 card-center small-margin">
      <div class="card-event-show1">
        <p class="center-p"><%= @event.description %></p>
      </div>
    </div>
  </div>
</div>

<%= link_to dashboards_path do  %>
  <div class="text-center">
    <div class="add-button ">
      Add
    </div>
  </div>
<% end %>
