<div class="container show">
  <div class="h2-choose small-margin text-center">
    <%= @event.title %>
  </div>

  <div class="row">
    <div class="col-xs-12 card-center small-margin">
      <div class="card-event-show1 ">
        <p class="left-p">Location</p><br>
        <div class="card">
          <p class="center-p"><%= @event.address %></p>
        </div>
      </div>
    </div>
    <br>
    <div class="col-xs-12 card-center small-margin">
      <div class="card-event-show1">
          <%= image_tag avatar_url(@event.host), class: 'card-avatar' %>
          <h2 class="small-text"><%= @event.host.first_name %></h2>
      </div>
    </div>
    <br>
    <div class="col-xs-12 card-center small-margin">
      <div class="card-event-show1">
        <p class="center-p"><%= @event.description %></p>
      </div>
    </div>
  </div>
</div>

<div>
  <%#= link_to "Add", dashboards_path, class: "text-center add-button" %>
  <%#= link_to "Back", :back, class: "text-center add-button" %>
</div>

<%= link_to dashboards_path do  %>
  <div class="text-center"><br>
    <div class="button-event-signin">
      Add
    </div>
  </div>
<% end %>


