<div class="container show">
  <div class="h2-choose small-margin text-center">
    <%= @event.title %>
  </div>

  <div class="row">
    <div class="col-xs-12 card-center small-margin">
      <div class="card-event-show1 ">
        <p class="left-p">Location</p><br>
        <div class="card">
          <p class="center-p"><%= @event.address %></p>
        </div>
      </div>
    </div>
    <br>
    <div class="col-xs-12 card-center small-margin">
      <div class="card-event-show1">
          <%= image_tag avatar_url(@event.host), class: 'card-avatar' %>
          <h2 class="small-text"><%= @event.host.first_name %></h2>
      </div>
    </div>
    <br>
    <div class="col-xs-12 card-center small-margin">
      <div class="card-event-show1">
        <p class="center-p"><%= @event.description %></p>
      </div>
      <% if current_user == @host %>
  <%= link_to "Manage attendees", event_attendees_path(@event),  class: "add-button" %>
  <%= link_to "Edit my Event", edit_event_path(@event),  class: "add-button" %>
  <% else %>
  <%= link_to "Join this event", event_attendees_path(@event), method: :post,  class: "add-button" %>
  <% end %>
    </div>
  </div>
</div>
