<div class="container show">
  <div class="h2-choose small-margin text-center">
    <%= @event.title %>
  </div>
  <br>
    <div class="card-event-show">
      <%= image_tag avatar_url(@event.host), class: 'card-avatar-show' %>
      <h2 class="small-text"><%= @event.host.first_name %></h2>
    </div>
  <br>
    </div>

  <div class="row">
    <div class="new-card">
      <p class="left-p"> <%= image_tag "icons/localisation.svg" %></p>
      <p class="left-p-show"> <%= link_to @event.address, ('https://www.google.com/maps/search/?api=1''&query='+@event.latitude.to_s+','+@event.longitude.to_s) %></p>
    </div>
    <div class="new-card">
      <p class="left-p"> <%= image_tag "icons/calendar.svg" %></p>
      <p class="left-p-show"><%= @event.date.strftime('%d-%b-%Y') %></p>
    </div>
    <div class="new-card">
      <p class="left-p"> <%= image_tag "icons/time.svg" %></p>
      <p class="left-p-show"><%= @event.time.strftime('%H:%M') %></p>
    </div>
  </div>


  <div class="col-xs-12 card-center small-margin">
    <div class="card-event-show1">
      <p class="center-p"><%= @event.description %></p>
    </div>
    <% if current_user == @host %>
    <div class="small-margin">
      <%= link_to "Manage Attendees", event_attendees_path(@event), class: "add-button" %>
      <%= link_to "Edit my Event", edit_event_path(@event), class: "add-button" %>
      <%= link_to "Delete this Event", event_path(@event), method: :delete, class: "add-button" %>
      <% else %>

      <% if @upcoming_events.include?(@event) %>
        <%= link_to "Dashboard", dashboards_path, class: "add-button small-margin" %>
        <%= link_to "Cancel", event_attendee_path(@event, current_user), class: "add-button", method: :delete %>
      <% else  %>

        <%= link_to event_attendees_path(@event), method: :post do %>
              <button type="button" class="add-button small-margin">Confirm Event</button>
        <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    </div>
    <% end %>
  </div>
</div>
</div>

