<h2 style="text-align: center;">Choose your categories</h2>
<div class="container">
  <div class= "row">
    <div class ="wrapper">
      <div class="text-center">
        <button class="btn btn-primary cards" type="submit">Bar <br><%= image_tag "icones/cocktail.png" %></button>
        <button class="btn btn-primary cards" type="submit">Beach <br><i class="fal fa-umbrella-beach"></i></button>
      </div>
      <div class="text-center">
        <button class="btn btn-primary cards" type="submit">Cinema <br><%= image_tag "icones/camera.png" %></button>
        <button class="btn btn-primary cards" type="submit">Shopping <br><%= image_tag "icones/cart.png" %></button>
      </div>
      <div class="text-center">
        <button class="btn btn-primary cards" type="submit">Lounge <br><%= image_tag "icones/lounge.png" %></button>
        <button class="btn btn-primary cards" type="submit">Party <br><%= image_tag "icones/dj.png" %></i></button>
      </div>
    </div>
    <div class="text-center small-margin">
      <div class="btn btn-primary button-event">Continue</div>
    </div>
  </div>
</div>
